    <footer class="page-footer blue">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Dev Team Bio</h5>
            <p class="grey-text text-lighten-4">
              We are a team of web development students working on this
              project like it's our full time job. Any amount of feedback on this project would be greatly
              appreciated. Click on each team member to see their personal bio's.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Team Members</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="http://www.github.com/Andrew836-dev" target="_blank">Andrew Gray</a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.github.com/ZanHong" target="_blank">Zan Hong Mok</a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.github.com/BH-2312" target="_blank">Ben Hilliard</a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.github.com/wongcmk" target="_blank">Cynthia Yim</a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.github.com/EMoschos" target="_blank">Eleftherios Moschos</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made with <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>