<div class="col m9" id="map_div" style="height: 400px;">
          {{!-- <img class="responsive-img z-depth-2" src="./img/maptest.PNG"> --}}
        </div>
        <script defer type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCh0hxF41vQ6-991NIvoKeI8AoOHgP4nZo"></script>
        <script defer type="text/javascript" src="/js/map-display.js"></script>