<nav class="blue" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/account" class="brand-logo"><img src="./img/whiteSchoolgleLogo.png"
                alt="Unsplashed background img 1"></a>
        <ul class="right hide-on-med-and-down linkWhite">
            <li>Welcome:</li>
            <li><a class="white-text" href="/account">UserNAME</a></li>
            <li><a class="white-text" href="/search">Search</a></li>
            <li><a class="white-text" href="/">Logout</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">MENU</a></li>
            <li><a href="/account">UserNAME</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
    </div>
</nav>