  {{> navOne }}

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center grey-text text-lighten-2 collegeo z-depth-4">SCHOOLGLE</h1>
        <div class="row center">
          <a href="/signup" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Get Started</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="/img/schoolRoom.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">location_on</i></h2>
            <h5 class="center">Find schools by location</h5>

            <p class="light">Choose search parameters and then use the interactive map or listing to add schools to your dashboard.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">rule</i></h2>
            <h5 class="center">Review shortlist</h5>

            <p class="light">Review the shortlist of prefered schools by analysing location, ranking, type etc.  You can compare and further refine your list in the dashboard by removing and updating the listing.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text"><i class="material-icons">content_copy</i></h2>
            <h5 class="center">Print your shortlist</h5>

            <p class="light">Once the school selection and refinement have been completed you are then able to print your list to PDF.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center z-depth-5">
          <h3 class="header col s12 light">Give your child the best chance at a great education</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/img/publicSchool.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4 class="blue-text">About <span class="collegeo">SCHOOLGLE</span></h4>
          <p class="left-align light"><span class="collegeo">SCHOOLGLE</span> was created to help parents best decide where to send their children to school through an easy-to-use interface backed by data that matters.  All the data presented to you the user has been provided by the Australian Education Department so that as a parent you are able to make the best-informed descision possible.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center z-depth-5">
          <h3 class="header col s12 light">Reliable data to back your decisions</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/img/4Kids.jpg" alt="Unsplashed background img 3"></div>
  </div>

  {{> footer }}