{{> navTwo }}

<div class="container">
  <div class="row">
    <form class="col s12" id="schoolSearch">
      <div class=" row">
        <div class="input-field col s5">
          <input placeholder="Search By School Name or Postcode" id="searchInput" type="text" class="validate">
        </div>

        <div class="input-field col s6">
          <select id="school-type">
            <option value="" disabled selected>School Type</option>
            <option value="Combined">Combined</option>
            <option value="Primary">Primary</option>
            <option value="Secondary">Secondary</option>
            <option value="Special">Special</option>
          </select>
        </div>

        <div class="col s1" style="margin-top: 25px;">
          <!-- <a class="btn-floating" type="submit"><i class="small material-icons">search</i></a> -->
          <button class="btn-floating red lighten-2" id="submitBtn" type="submit"><i
              class="small material-icons">search</i></button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col S12 m3">
      <ul class="collection with-header">
        <li class="collection-header">
          <h5>Your School List</h5>
        </li>
        <div class="school-container">

        </div>
      </ul>
    </div>
    <div class="col s12 m9">
      {{> map }}
    </div>
  </div>
</div>

{{> footer }}