<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Sign Up To Schoolgle</h2>
      <form class="col s12" id="signup">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Jane" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Doe" id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12" class="form-group">
            <label for="inputStreet">Street Address</label>
            <input type="text" class="validate" id="street-input" placeholder="Address">
          </div>
        </div>
        <div class="row">
          <div class="col s5">
            <div class="form-group">
              <label for="inputSuburb">Suburb</label>
              <input type="text" class="validate" id="suburb-input" placeholder="Suburb">
            </div>
          </div>
          <div class="col s3">
            <div class="form-group">
              <label for="inputPostcode">Post Code</label>
              <input type="number" class="validate" id="postcode-input" placeholder="Post Code" min="1000" max="9999">
            </div>
          </div>
          <div class="input-field col s4">
            <select id="state-input">
              <option value="" disabled selected>Choose your State</option>
              <option value="SA">SA</option>
              <option value="Victoria">VIC</option>
              <option value="Queensland">QLD</option>
              <option value="NSW">NSW</option>
              <option value="WA">WA</option>
              <option value="Tasmania">TAS</option>
              <option value="ACT">ACT</option>
              <option value="Northern Territory">NT</option>
            </select>
            <label>State</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="form-group">
              <label for="inputEmail">Email address</label>
              <input type="email" class="form-control" id="email-input" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" id="password-input" placeholder="Password">
            </div>
          </div>
          <div class="col s6">
            <div class="form-group">
              <label for="inputPassword2"> Confirm Password</label>
              <input type="password" class="form-control" id="password-input2" placeholder="Confirm Password">
            </div>
          </div>
        </div>
        <div style="display: none" id="alert" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span> <span class="msg"></span>
        </div>
        <button type="submit" class="btn btn-default">Sign Up to Schoolgle</button>
      </form>
      <br />
      <p>Or log in to Schoolgle<a href="/login">here</a></p>
    </div>
  </div>
</div>