/* STYLING FOR LANDING PAGE */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
 
.sidenav-trigger {
  color: #26a69a;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

form#signup,
form.login {
  margin-top: 50px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.collegeo {
  font-family: 'Bungee', cursive;
  /* font-size: 48px; */
}

.z-depth-5 {
  background-color: rgb(000,000,000,0.3);
  border-radius: 25px;
}

/* END OF STYLING FOR LANDING PAGE */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mapDiv {
  padding: 20px 0px;
}

.school-container {
  max-height: 390px;
  overflow-y: scroll;
}

#to-top {
  height: 24px;
  border-radius: 12px;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
 
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .collegeo {
   /* font-family: 'Bungee', cursive; */
   font-size: 48px;
 }
}

.seachList {
  margin: 0px;
}